.different-days-block {
  width: 260px;
  height: 240px;
}
::-webkit-scrollbar {
  width: 0;
}
.day-block {
  width: 260px;
  height: 55px;
  border: {
    left: 1px solid white;
    bottom: 1px solid white;
  }
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  &:first-child {
    border-radius: 0 0 0 8px;
    margin-top: 2px;
  }
}
.weather-block-img {
  height: 60px;
  width: 60px;
}
.block-scroll-wrapper {
  width: calc(100% - 10px);
}
.block-scroll {
  max-height: 240px;
  width: calc(100% + 10px);
  overflow: scroll;
  overflow-x: hidden;

  font-size: 14px;
}

.block-scroll::-webkit-scrollbar {
  width: 5px;
}

.block-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #79817f;
}
